<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Address Range Splitter</Name><AddInID>{0ec390bc-2b55-438c-be31-87f6aa8096d8}</AddInID><Description>Tool to split road and adjust address ranges.</Description><Version>1.3</Version><Image /><Author>Keaton Walker</Author><Company>AGRC</Company><Date>01/04/2016</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="AddressRangeSplitterAddin_addin.py" namespace="AddressRangeSplitterAddin_addin"><ArcMap>
    <Commands>
        <Button caption="Prepare Road" category="Address Range Splitter" class="SelectedRoad" id="AddressRangeSplitterAddin_addin.selectRoadButton" image="Images\StartButton.png" message="Press to prepare selected road for splitter tool." tip="Press to mark road for splitter"><Help heading="" /></Button>
        <Tool caption="Point Selector" category="Address Range Splitter" class="SplitPointSelector" id="AddressRangeSplitterAddin_addin.pointSelector" image="Images\SplitterTool.png" message="Select point to split road" tip="Select split point"><Help heading="" /></Tool>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Splitter Tools" category="Address Range Splitter" id="AddressRangeSplitterAddin_addin.splitterToolbar" showInitially="true"><Items><Button refID="AddressRangeSplitterAddin_addin.selectRoadButton" /><Tool refID="AddressRangeSplitterAddin_addin.pointSelector" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>